
.map-container {
  width: 900px;
  max-width: 100%;
  height: 500px;
  padding: 5px, 5px, 5px 5px;
}

.red {
	color: red;
}

.green {
	color: green;
}

.focusLoc :hover {
    text-decoration: underline;
}

#droneFrame {
width: 100%!important;
height: 100%!important;


}